@model Advokati.Infrastructure.Model.Klijent

@{
    ViewBag.Title = "Delete";
}

<h2>Obriši klijenta</h2>

<h3>Da li ste sigurni da želite da obrišete?</h3>
<div>
   
    <dl class="dl-horizontal">
        <dt>
            Advokat
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Advokat.Ime)
            @Html.DisplayFor(model => model.Advokat.Prezime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Naziv)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Naziv)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-danger" /> |
            @Html.ActionLink("Nazad", "Index")
        </div>
    }
</div>
