@*@using Advokati.Model
    @model IEnumerable<Advokati.Model.Task>*@

@model PagedList.IPagedList<Advokati.Infrastructure.Model.Task>
@using PagedList.Mvc;

@{
    ViewBag.Title = "Index";
}

<div class="row">
    <div class="sidenav col-sm-3 col-md-3 col-lg-3">
        <ul class="nav navbar-nav mainmenu">
            <li>@Html.ActionLink("Advokati", "Index", "Advokats")</li>
            <li>@Html.ActionLink("Klijenti", "Index", "Klijents")</li>
            <li>@Html.ActionLink("Predmeti", "Index", "Predmets")</li>
            <li>@Html.ActionLink("Podpredmeti", "Index", "Podpredmets")</li>
            <li>@Html.ActionLink("Taskovi", "Index", "Tasks")</li>
            <li>@Html.ActionLink("Grafikon", "GetData", "Home")</li>
            <li>@Html.ActionLink("Statistika", "Statistika", "Tasks")</li> 
            <li>
                <a href="">Izveštaji</a>
                <ul class="submenu">
                    <li><a href="~/Report/AdvokatiTasks.aspx">Advokati</a></li>
                    <li><a href="~/Report/KlijentiTasks.aspx">Klijenti</a></li>
                </ul>
            </li>
            <li>@Html.ActionLink("Logout", "Logout", "Home")</li>
        </ul>
    </div>

    <div class="col-sm-9 col-md-9 col-lg-9" id="advokati">

        @if (TempData["Success"] != null)
        {
            <p class="alert alert-success" id="successMessage">@TempData["Success"]</p>
        }



        <h3 class="text-center">Spisak taskova</h3>
        <p>
            @Html.ActionLink("Dodaj task", "Create", null, new { @class = "btn btn-info" })
        </p>
        <br />
        @using (Html.BeginForm())
        {
            <table>
                <tr>
                    <td class="tdFilter">Advokat</td>
                    <td class="tdFilter">Podpredmet</td>
                    <td class="tdFilter">Max cena</td>
                    <td class="tdFilter">Max datum</td>
                    <td></td>
                </tr>
                <tr>
                    <td class="tdFilter">
                        @Html.TextBox("searchAdvokat")
                    </td>
                    <td class="tdFilter">
                        @Html.TextBox("searchPodpredmet")
                    </td>
                    <td class="tdFilter">
                        <input type="number" name="price" min="1" />
                    </td>
                    <td class="tdFilter">
                        @Html.TextBox("endDate", ViewBag.CurrentFilter as string, new { @class = "date-picker" })
                    </td>
                    <td class="tdFilter">
                        <input type="submit" value="Filter" />
                    </td>
                </tr>
            </table>
        }
        <br />
        <table class="table table-bordered">
            <tr class="headerColor">
                <th>Advokat</th>
                <th>Naziv podpredmeta</th>
                <th>Datum</th>
                <th>Utrošeno vreme</th>
                <th>Cena u EUR</th>
                <th>Plaćeno</th>
                <th>Opis</th>
                @if (Session["admin"] != null)
                {
                    <th class="centerBtn">Administracija</th>
                }
                else
                {
                    <th class="centerBtn">Izmeni</th>
                }
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Advokat.Ime)
                        @Html.DisplayFor(modelItem => item.Advokat.Prezime)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Podpredmet.NazivPodpredmeta)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Datum)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.UtrosenoVreme)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Cena)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Placeno)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Opis)
                    </td>
                    <td>
                        @if (Session["admin"] != null || Session["UserID"].ToString() == item.AdvokatId.ToString())
                        {
                            @Html.ActionLink("Izmeni", "Edit", new { id = item.Id }, new { @class = "btn btn-warning btn-sm form-control" })
                        }
                        @if (Session["admin"] != null)
                        {
                            @Html.ActionLink("Obriši", "Delete", new { id = item.Id }, new { @class = "btn btn-danger btn-sm form-control" })
                            @*<a class="btn btn-danger btn-sm" onclick="deleteAjax('@Url.Action("ObrisiTask", "Tasks", new {id = @item.Id})')">Obriši</a>*@
                        }
                    </td>
                </tr>
            }

        </table>

        <br />
        Strana @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) od @Model.PageCount

        @Html.PagedListPager(Model, page => Url.Action("Index",
            new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))

    </div>
</div>



@*@section Scripts {
    @Scripts.Render("~/bundles/jquery")
    <script>
        function deleteAjax(url) {
            var cf = confirm('Da li ste sigurni da želite da obrišete task?');

            if (cf) {
                $.ajax({
                    url: url,
                    type: "GET",
                    success: function () {
                        alert("Uspešno obrisan task!");
                        location.reload();
                    }
                });
            }
        }
    </script>
}*@


<script type="text/javascript">
    $(function () {
        $('.date-picker').datepicker({
            dateFormat: 'dd/mm/yy'
        });
    }) 
</script>


@section Scripts {
    @Scripts.Render("~/bundles/jquery")
}